{% macro form_field(field) %}
  <row>
	  <div class="col-lg-6">
		<div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
		    {{ field.label() }}

			{{ field(class='form-control', **kwargs)}}
			{% if field.errors %}
			  <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
			{% endif %}
			{% if field.description %}
			<span class="help-block">
			  {{ field.description|safe }}
			</span>
			{% endif %}
			{% for error in field.errors%}
			  <span class="help-block">
				{{ error }}
			  </span>
			{% endfor %}

		</div>
	  </div>
  </row>
{% endmacro %}