{% extends "base.html" %}
{% from "macro/shift_element.html" import shift_element %}
{% block class_container %}container-fluid{% endblock %}
{% block nav_penjadwalan %} active {% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/fixedtable/css/defaultTheme.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/fixedtable/css/myTheme.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='lib/datepicker/bootstrap-datepicker.standalone.css')}}">
    <style>
        .modal-dialog{
            position: relative;
            display: table; /* <-- This makes the trick */
            overflow-y: auto;
            overflow-x: auto;
            width: auto;
            min-width: 300px;
        }
    </style>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='lib/fixedtable/jquery.fixedheadertable.js')}}"></script>

    <script src="{{ url_for('static', filename='lib/datepicker/bootstrap-datepicker.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mask.js')}}"></script>
    <script>
        $('#my-generate-jadwal').fixedHeaderTable({
            footer: true,
            cloneHeadToFoot: true,
            height: 500,
        });

    	$('.date-picker').datepicker({
		  'format': 'MM-yyyy',
		  startView: 'months',
		  minViewMode: 'months',
		  'autoclose': true
		});
		$('.date-picker').datepicker('update', new Date());

        var numb = 1;
        $(".table-number").each(function() {
          $(this).text(numb);
          numb++;
        });

        $("#periode-date").mask("00/0000", {
            placeholder: "00/0000"
        });

        var jumlah_hari=function(bulan,taun){
            return new Date(taun,bulan,0).getDate();
        }

        $( "#generate-rest-pattern" ).on( "click", function() {
            var tgl = $(".date-picker").data('datepicker').getFormattedDate('mm-yyyy');
            window.location.href = "/penjadwalan/" + tgl;
        });


        $( "#generate-rest-jadwal" ).on( "click", function() {
            $(this).button('loading');
            var id = $("[name='periode-id']").val();
            var request = $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: JSON.stringify({
                  ajax: 'generate-rest-jadwal',
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
            });

            request.done(function(data){
                window.location.reload(true);
            })

        });


        $( "#generate-jadwal" ).on( "click", function() {
            $(this).button('loading');
            var id = $("[name='periode-id']").val();
            $("#proses-algoritma-modal").modal({backdrop: 'static', keyboard: false});
            var request = $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: JSON.stringify({
                  ajax: 'generate-jadwal',
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
            });

            request.done(function(data){
                window.location.reload(true);
            })

        });

         $( "#stop-generate-jadwal" ).on( "click", function() {
            var id = $("[name='periode-id']").val();
            $(this).button('loading');
            $(".wait-proses").hide()
            var request = $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: JSON.stringify({
                  ajax: 'stop-generate-jadwal',
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
            });

        });



         $( "#clears-schedule" ).on( "click", function() {
            var restScheduleDel = $("[name='rest-schedule-del']:checked").val();
            var scheduleDel = $("[name='schedule-del']:checked").val();
            if(restScheduleDel == null){
                restScheduleDel = 0
            }
            if(scheduleDel == null){
                scheduleDel = 0
            }
            if(scheduleDel || restScheduleDel){
                var r = confirm("Bersihkan jadwal ?");
                if (r == true) {
                    var id = $("[name='periode-id']").val();
                    $(this).button('loading');
                    var request = $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: JSON.stringify({
                          ajax: 'clears-schedule',
                          rest_schedule: restScheduleDel,
                          schedule: scheduleDel
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                    });
                    request.done(function(data){
                        window.location.reload(true);
                    })
                }
            }

        });


        $( ".edit-rest" ).on( "click", function() {
            var id = $(this).attr("id");
            var request = $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: JSON.stringify({
                  ajax: 'get-rest-shift',
                  schedule_id: id
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
            });

            request.done(function(data){
                var n = 0;
                $("#name-rest").text(data.res_data[0].name);
                $("#nip-rest").text(data.res_data[0].nip);
                $("[name='rest_schedule_id']").val(data.res_data[0].schedule_id);
                $("[name='bidan-name']").val(data.res_data[0].name);
                $(".rest-table").each(function() {
                  $(this).val('-');
                });

                if(!data.res_data[0].rest_shift){
                    $(".rest-table").each(function() {
                      $(this).val('-');
                    });
                }
                else{
                   $(".rest-table").each(function() {
                      if (data.res_data[0].rest_shift[n]){
                        var value = data.res_data[0].rest_shift[n];
                      }
                      else{
                        var value = '-';
                      }
                      $(this).val(value);
                      n++;
                    });
                }

                $("#edit-rest-modal").modal();

            })

            request.error(function(xhr, status, error){
                console.log(xhr.responseText);
            })

        });


        $( ".link-hari" ).on( "click", function() {
            $(".modal-body-min-bidan").empty();
            var hari = $(this).attr("hari");
            var loading = "<center><i style='color:#008cba' class='fa fa-spinner fa-pulse fa-5x fa-fw wait-proses'></i></center>";
            $(".modal-body-min-bidan").append(loading);
            var request = $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: JSON.stringify({
                      ajax: 'get-detail-min-bidan',
                      hari: hari
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                });
                request.done(function(data){
                    $("#detail-min-bidan-modal").modal('show');
                    $(".hari-min-bidan").text(parseInt(hari)+1);

                    var dinas = [data.pagi, data.siang, data.malam];
                    setTimeout(function(){
                        $(".modal-body-min-bidan").empty();
                        for(j = 0; j < dinas.length; j++){
                            var data_dinas = dinas[j];
                            if(j == 0){
                                dns = "Dinas PAGI - ";
                            }
                            else if(j == 1){
                                dns = "Dinas SIANG - ";
                            }
                            else if(j == 2){
                                dns = "Dinas MALAM - ";
                            }

                            var jd = "<h4>" + dns + data_dinas.length + " orang: </h4>";
                            $(".modal-body-min-bidan").append(jd);
                            for(i = 0; i < data_dinas.length; i++){
                                var no = data_dinas[i].no;
                                var nama = data_dinas[i].nama;
                                var officer = "(" + data_dinas[i].officer + ")";
                                $(".modal-body-min-bidan").append("<p>__"+ "<strong>" + no + "</strong>. " + officer+" - "+nama+"</p>");
                            }

                        }
                    }, 1000);


                })
        });

    </script>
{% endblock%}

{%  block content %}

<div class="panel panel-default">
    {% if table %}
      <div class="panel-heading">
           <div class="form-inline">
                 <input value="{{ periode.id }}" type="hidden" name="periode-id">
                 <button id="generate-rest-jadwal" class="btn btn-primary"> <i class="fa fa-refresh" aria-hidden="true"></i>  GENERATE REST JADWAL</button>
                 <button id="generate-jadwal" class="btn btn-success" xdata-toggle="modal" xdata-target="#modal-proses"> <i class="fa fa-table" aria-hidden="true"></i>  Generate Jadwal</button>
                   <div style="margin:4px" class="checkbox pull-right"> <label><input name="rest-schedule-del" type="checkbox" value="1">Rest schedule</label> </div>
                   <div style="margin:4px" class="checkbox pull-right"> <label><input name="schedule-del" type="checkbox" value="1">Schedule</label> </div>
                 <button id="clears-schedule" class="pull-right btn btn-danger" > <i class="fa fa-trash" aria-hidden="true"></i>  Clears schedule</button>
               <button id="get-log" class="pull-right btn btn-default" data-toggle="modal" data-target="#log-algoritma-modal"> <i class="fa fa-log" aria-hidden="true"></i>  Proses log</button>
           </div>
      </div>
    {% endif %}
      <div class="panel-body">

          <row>

            <div class="col-lg-12">

              {% if table %}

                <table class="fancyTable"  id="my-generate-jadwal">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama</th>
                      <th>Nip</th>
                      {% for i in range(days) %}
                        <th><a href="javascript:void(0)" hari="{{i}}" class="link-hari">{{loop.index}}</a></th>
                      {% endfor %}
                        <th>JK</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="table-number">-</td>
                      {% for table in table['kr'] %}
                          <td>{{ table.name }} ({{table.officer}})</td>
                          <td>{{ table.nip|default('<unknown>', True) }}</td>

                          {{ shift_element(table,days) }}

                        <td>{{ table.total_jam_kerja}}</td>
                          <td>
                            <!-- <a href="#">Edit</a> -->
                            <button type="button" class="btn btn-default btn-xs edit-rest" id={{table.schedule_id}} >Edit</button>
                          </td>
                        {% endfor %}
                    </tr>



                    {% for i in range(0, (table['kt']) | length) %}

                        {% if table['tim'][i] is defined and table['tim'][i]|length > 0 %}
                            <tr>
                              <td><strong>TIM {{ loop.index }}</strong></td>
                            </tr>

                            <tr>
                              <td class="table-number">-</td>
                              {% for table in table['kt'][i] %}
                                  <td>{{ table.name }} ({{table.officer}})</td>
                                  <td>{{ table.nip|default('<unknown>', True) }}</td>

                                  {{ shift_element(table,days) }}

                                <td>{{ table.total_jam_kerja}}</td>

                                  <td>
                                    <button type="button" class="btn btn-default btn-xs edit-rest" id={{table.schedule_id}} >Edit</button>
                                  </td>
                              {% endfor %}
                            </tr>

                            {% for table in table['tim'][i] %}
                              <tr>
                                <td class="table-number">-</td>
                                <td>{{ table.name }} ({{table.officer}})</td>
                                <td>{{ table.nip|default('<unknown>', True) }}</td>

                                {{ shift_element(table,days) }}

                                  <td>{{ table.total_jam_kerja}}</td>

                                <td>
                                    <button type="button" class="btn btn-default btn-xs edit-rest" id={{table.schedule_id}} >Edit</button>
                                </td>
                              </tr>
                            {% endfor %}
                        {% endif %}


                    {% endfor %}

                  {% if table['persir'] is defined %}
                        <tr>
                                  <td><strong>Perkarya dan Sirus</strong></td>
                        </tr>
                        {% for table in table['persir'] %}


                              <td>{{ table.name }} ({{table.officer}})</td>
                              <td>{{ table.nip|default('<unknown>', True) }}</td>

                              {{ shift_element(table,days) }}

                            <td>{{ table.total_jam_kerja}}</td>
                              <td>
                                <!-- <a href="#">Edit</a> -->
                                <button type="button" class="btn btn-default btn-xs edit-rest" id={{table.schedule_id}} >Edit</button>
                              </td>
                        {% endfor %}
                    {% endif %}

                  {% for table in table['tim'][i] %}
                              <tr>
                                <td class="table-number">-</td>
                                <td>{{ table.name }} ({{table.officer}})</td>
                                <td>{{ table.nip|default('<unknown>', True) }}</td>

                                {{ shift_element(table,days) }}

                                  <td>{{ table.total_jam_kerja}}</td>

                                <td>
                                    <button type="button" class="btn btn-default btn-xs edit-rest" id={{table.schedule_id}} >Edit</button>
                                </td>
                              </tr>
                            {% endfor %}

                  </tbody>
                </table>

              {% else %}
                <div class="form-inline">
                      <input type="text" class="form-control date-picker"  placeholder="Tanggal Absen" readonly>
                      <button id="generate-rest-pattern" class="btn btn-primary"> <i class="fa fa-click" aria-hidden="true"></i>  Proses penjadwalan</button>
                 </div>
              {% endif %}

            </div>
          </row>

      </div>


    </div>

{% if table %}
<div id="edit-rest-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Nama: </strong> <span id="name-rest"></span>, <strong>NIP: </strong> <span id="nip-rest"></span></h4>
      </div>
      <div class="modal-body">

        <form action="" id="form-edit-rest" class="form" method="post">
            <input type="hidden" name="rest_schedule_id">
            <input type="hidden" name="bidan-name">
        <table class="table table-bordered table-responsive">
          <thead>
                  <tr>
                      {% for i in range(16) %}
                        <th class="th-rest-table" >{{loop.index}}</th>
                      {% endfor %}
                  </tr>
              </thead>
              <tbody>

                  <tr>
                      {% for i in range(16) %}
                      <td>
                          <select class="rest-table rest-shift" name="rest-shift" >
                            <option value="P">P</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="O">O</option>
                            <option value="-">-</option>
                          </select>
                      </td>
                      {% endfor %}

                  </tr>
                  </tbody>
        </table>

        <table class="table table-bordered table-responsive">
            {% set days_left = days-16 %}
            {% set inc = 16 %}
          <thead>
                  <tr>
                      {% for i in range(days_left) %}
                        <th>{{inc+loop.index}}</th>
                      {% endfor %}
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    {% for i in range(days_left) %}
                      <td>
                          <select class="rest-table rest-shift" name="rest-shift" id="">
                            <option value="P">P</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="O">O</option>
                            <option value="-">-</option>
                          </select>
                      </td>
                      {% endfor %}

                  </tr>
                  </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" id="save-edit-rest" class="btn btn-success" > <i class="fa fa-save"></i> Simpan</button>
      </div>
        </form>
    </div>
  </div>
</div>

<div id="proses-algoritma-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">PROSES ALGORITMA</h4>
      </div>
      <div class="modal-body">
            <center><i style="color:#008cba" class="fa fa-spinner fa-pulse fa-5x fa-fw wait-proses"></i></center>
            <center><span class="sr-only">Loading...</span></center>
          <br>
            <center><button id="stop-generate-jadwal" class="btn-danger"> <i class="fa fa-stop" aria-hidden="true"></i>  Stop proses</button></center>
      </div>
    </div>
  </div>
</div>

<div id="log-algoritma-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">LOG PROSES PENJADWALAN</h4>
      </div>
      <div class="modal-body modal-body-log">
            {% for log in scheduling_process %}
                <p>{{log}}</p>
            {% endfor %}
      </div>
    </div>
  </div>
</div>


<div id="detail-min-bidan-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dinas hari ke - <strong><span class="hari-min-bidan"></span></strong></h4>
      </div>
      <div class="modal-body modal-body-min-bidan">


      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}






