{% macro shift_element(table,days) %}
  {% if table.rest_shift %}
    {% for i in range(days) %}
        {% if table.rest_shift[i] != '-' %}
            <td><strong>{{ table.rest_shift[i] }}</strong></td>
        {% else %}
            {% if table.shift %}
                <td>{{ table.shift[i] }}</td>
            {% else %}
                <td><strong>-</strong></td>
            {% endif %}

        {% endif %}
    {% endfor %}

  {% elif table.shift %}
    {% for i in range(days) %}
        <td>{{ table.shift[i] }}</td>
    {% endfor %}
  {% else %}
    {% for i in range(days) %}
        <td>-</td>
    {% endfor %}
  {% endif %}

{% endmacro %}

